<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Symmetra Navigation System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
        <li><%= link_to 'About', about_path, class: "nav-link px-2 text-white" %></li>
        <li><%= link_to 'Contact', contact_path, class: "nav-link px-2 text-white" %></li>
      </ul>

      <% if user_signed_in? %>
      <div class="col-md-3 text-end">
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-primary"%></li>
      </div>
      <% else %>
      <div class="nav text-end">
        <li><%= link_to 'Login',  user_session_path, class: "btn btn-outline-primary me-2" %></li>
        <li><%= link_to 'Sign up',  new_user_registration_path, class: "btn btn-primary" %></li>
      </div>
      <% end %>
    </div>
  </nav>
</header>